{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock title %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/gastro.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock cssfiles %}

{% block content %}
    <div class="aboutus-intro" style="background-image:url({% static 'img/pizza.jpg'%})">
        <div class="innerfilter">
            <h1>yummy.</h1>
        </div>
    </div>
    <div class="gastro-box">
        <div class="gastro-grid">
            <div class="gb1">
                <h1>Our delicious Food.</h1>
            </div>
            <div class="gb2 gbox">
                <div class="areapic" style="background-image:url({% static 'img/pizza.png'%})"></div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratwurt mit Brötchen</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratcurry mit Brötchen</div>
                    <div class="foodprice">3,30€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes klein</div>
                    <div class="foodprice">2,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes groß</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Salatteller</div>
                    <div class="foodprice">6,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pizza verschiedene Sorten</div>
                    <div class="foodprice">ab 6,00€</div>
                </div>
            </div>
            <div class="gb3 gbox">
                <div class="areapic" style="background-image:url({% static 'img/burger.png'%})"></div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratwurt mit Brötchen</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratcurry mit Brötchen</div>
                    <div class="foodprice">3,30€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes klein</div>
                    <div class="foodprice">2,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes groß</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Salatteller</div>
                    <div class="foodprice">6,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pizza verschiedene Sorten</div>
                    <div class="foodprice">ab 6,00€</div>
                </div>
            </div>
            <div class="gb4 gbox">
                <div class="areapic" style="background-image:url({% static 'img/softdrink.png'%})"></div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratwurt mit Brötchen</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratcurry mit Brötchen</div>
                    <div class="foodprice">3,30€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes klein</div>
                    <div class="foodprice">2,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes groß</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Salatteller</div>
                    <div class="foodprice">6,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pizza verschiedene Sorten</div>
                    <div class="foodprice">ab 6,00€</div>
                </div>
            </div>
            <div class="gb5 gbox">
                <div class="areapic" style="background-image:url({% static 'img/coffee.png'%})"></div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratwurt mit Brötchen</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratcurry mit Brötchen</div>
                    <div class="foodprice">3,30€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes klein</div>
                    <div class="foodprice">2,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes groß</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Salatteller</div>
                    <div class="foodprice">6,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pizza verschiedene Sorten</div>
                    <div class="foodprice">ab 6,00€</div>
                </div>
            </div>
            <div class="gb6 gbox">
                <div class="areapic" style="background-image:url({% static 'img/menut.png'%})"></div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratwurt mit Brötchen</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Rinds- oder Bratcurry mit Brötchen</div>
                    <div class="foodprice">3,30€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes klein</div>
                    <div class="foodprice">2,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pommes groß</div>
                    <div class="foodprice">3,00€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Salatteller</div>
                    <div class="foodprice">6,50€</div>
                </div>
                <div class="fooditem">
                    <div class="fooditemname">Pizza verschiedene Sorten</div>
                    <div class="foodprice">ab 6,00€</div>
                </div>
            </div>
        </div>
    </div>
  
{% endblock content %}

{% block jsfiles %}
    <script src="{% static 'js/observerAboutus.js' %}"></script>
    <script>

       
    </script>
{% endblock jsfiles %}