<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300;400;500;600;700;800&family=Water+Brush&display=swap" rel="stylesheet">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

    {% block cssfiles %}

    {% endblock cssfiles %}
  </head>
  <body>
    <div class="fullcont">

    {% include 'includes/nav.html' %}
    <main>
      {% block content %}

      {% endblock content %}

    </main>
    <footer>
      <div class="footer">
        <div class="footgrid">
          <div class="fo1">
            <h3>Folge uns auf</h3>
            <div class="horizontalFlex">
              <div class="socialwrap">
                <div class="socialicon" style="background-image:url({% static 'img/facebook.png'%})"></div>
              </div>
              <div class="socialwrap">
                <div class="socialicon" style="background-image:url({% static 'img/instagram.png'%})"></div>
              </div>
            </div>
          </div>
          <div class="fo2">
            <div class="footerlogo" style="background-image:url({% static 'img/tiggolinologo.png'%})"></div>
          </div>
          <div class="fo3">
            <div class="linklines">
              <a href="#">Impressum</a>
              <a href="#">AGB</a>
              <!--<a href="#">Widerrufserklärung</a>-->
              <a href="#">Datasecurity</a>
            </div>
          </div>
          <div class="fo4">
            <div class="copyright">Tiggolino</div>
            <div class="racinedeux">
              <div class="developed">Developed by</div>
              <div class="racinename">Racine Deux</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
    {% block jsfiles %}
    {% endblock jsfiles %}
  </body>
</html>